body {
    font-family: Ubuntu;
}
.main-container {
    background-image: url(../images/background.png);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
a {
    text-decoration: none;
    color: unset;
}
.main-form {
    position: relative;
    display: contents;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    height: 58px;  
    padding: 0 79px;
    color: #FFF;
}

.header-title {
font-size: 22px;
font-weight: 700;
line-height: 22px; /* 100% */
text-transform: uppercase;
}
.header-link:hover {
    color: #01813F;
}

.join {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 53px;

}
.header-icons {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding-right: 25px;
    border-right: 1px solid #FFFFFFE5;
}
.icon {
    display: inline-block;
}
path:hover {
    fill: #01813F;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    width: 444px;
    height: 584px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 60px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form-header::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    padding: 2px;
    background-color: #3CB878;;

}
.singup-form {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; /* 100% */
}

.login-form {
    display: inline-block;
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.form-link {
    color: #3CB878;
}

.form-link:hover {
    color: #01813F;
    text-decoration-line: underline;
}

.social-media-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.social-btn {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 25px 0 12px;
    border: none; 
    margin: 13px 0 30px 0;
    border-radius: 4px;
} 

.btn-fb {
    background-color: #305DB8;
}
.btn-fb:hover {
    background-color: #022263;
}

.btn-g {
    background-color: #DF4A32;
}
.btn-g:hover {
    background-color: #AB1F09; 
}
.social {
    display: inline-block;
}
.text-with-line {
    text-align: center; 
    position: relative;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.text-with-line::before, .text-with-line::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background-color: #F2F2F2;
}
.text-with-line::before {
    left: 23%;
}
.text-with-line::after {
    left: 77%;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    gap: 15px;
}

.text-form {
    width: 324px;
    height: 44px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    padding-left: 20px;
    box-sizing: border-box;
}

.text-form:focus {
    /* filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21)); */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    position: relative;
    top: -1px;
}

.agree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 0 20px 30px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.agree input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    width: 20px;
    height: 20px;
    margin:0 8px 0 0;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 8px;
    left: 0;
    cursor: pointer;
    font-size: 22px;

    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .agree input:checked ~ .checkmark:after {
        display: block;
    }

    /* checkbox is drawn with borders */
    .agree .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 13.5px;
        border: solid #3CB878;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .terms {
        display: inline-block;
        padding-left: 4px;
    }

    .create-account {
        width: 324px;
        height: 46px;
        border: none;
        border-radius: 4px;
        background-color: rgba(60, 184, 120, 0.80);

        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px; /* 100% */
    }
    .create-account:hover {
        background-color: #01813F;
    }
 
